@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg);
	color: white;
	opacity: 0;
	height: 16px;
	width: 16px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.h-7,
.h-6 {
	color: #932595 !important;
}


.duration-200 {
	background-color: #932595 !important;
}

.mb-3 {
	margin-top: 10px;
}

.bg-brand-500 {
	background-color: #932595 !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
	background-color: #932595 !important;
}

div:where(.swal2-icon).swal2-warning {
	border-color: #932595 !important;
	color: #932595 !important;
}

.text-sm {
	font-size: medium !important;
	line-height: 1.25rem !important;
}

.rounded-\[20px\] {
	border-radius: 10PX;
}

.text-gray-600 {
	--tw-text-opacity: 1 !important;
	color: black !important;
}

.font-medium {
	font-weight: 1 !important;
}

.text-navy-700 {
	--tw-text-opacity: 1 !important;
	color: rgba(0, 0, 0, 0.848) !important;
}

input[type="search"].search::-webkit-search-cancel-button {
	filter: saturate(0.5);
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
	border: 0.25em solid #5cc421 !important
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
	background-color: #5cc421 !important;
}

.bg-lightPrimary {
	background: #fee2fb66 !important;
}

a, a.text-brand-500{
	color: #932595;
}