.field button.icon {
  float: right;
  bottom: 46px;
  position: relative;
  right: 15px;
  color: #932595;
}

.has-error.field button.icon {
  bottom: 75px;
}

.hotelImg {
  max-width: 250px;
}

.dark-border {
  border-color: #979393;
}

.text-align-right {
  text-align: right;
}

.btn {
  border: 1px solid #932595;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #932595;
  color: #fff;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: #932595;
}

.hover\:text-brand-600:hover {
  color: #000 !important;
}

.pagination .btn {
  padding: 5px 10px;
  border-radius: 0;
}

.btn:disabled {
  opacity: 0.8;
}

.action-btn {
  font-size: 22px;
  margin-right: 10px;
}

.text-gray-600 {
  cursor: pointer;
}

.pagination {
  text-align: right;
}

.pagination .per-page {
  border-color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #932595;
}

input:focus+.slider {
  box-shadow: 0 0 1px #932595;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.table-img {
  object-fit: cover;
}

.hotel-imgs {
  flex-wrap: wrap;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* Loader */

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 800ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #932A9E !important;
  border-left-color: #932A9E !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.check-label input{
  margin-right: 5px;
}

.amenities-item-set{
  display: flex;
  width: 50%;
}
