<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Reaching Out!</title>
</head>

<body>

    <h2>Payment Receipt</h2>

    <hr>

    <p><strong>Hi {{ fullname }},</strong></p>

    <p>Thank you for reserved hotel from our site, Hope you visit again soon.</p>

    <table style=" width:50%">
        <tr>
            <th>Fullname</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Hotel Name</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Hotel Address</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Total Rooms</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Total Price</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Check In</th>
            <td>Tobias</td>
        </tr>
        <tr>
            <th>Check out</th>
            <td>Tobias</td>
        </tr>
    </table>

    <p><em>Best Regards,<br>Budget Suites</em></p>

</body>

</html>