@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.error-msg {
    font-size: 14px;
    color: #ac1111;
    font-weight: 700
}

.btn-loader {
    max-width: 25%;
}

.footer-title p{
    font-size: 18px;
    color: #000;
}
.footer-content p, .footer-content a{
    color: #000;
    font-size: 15px;
}
.footer-content a:hover{
    color: #7E098A;
}
