@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.error-msg {
    font-size: 14px;
    color: #ac1111;
    font-weight: 700
}

.btn-loader {
    max-width: 25%;
}

.field button.icon {
    float: right;
    bottom: 30px;
    position: relative;
    right: 15px;
    background: transparent;
    border: 0;
    font-size: 22px;
}

.field button.icon svg {
    fill: #81068f;
}

.footer-title p {
    font-size: 18px;
    color: #000;
}

.footer-content p,
.footer-content a {
    color: #000;
    font-size: 15px;
}

.footer-content a:hover {
    color: #7E098A;
}

.search-form {
    margin-top: 30px;
}

.form-wrap {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
}

.form-wrap .row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #FFFFFF9C;
    padding: 40px 60px 20px 60px;
    border-radius: 15px;
}

.col {
    width: 18%;
}

.btn-col {
    display: flex;
    align-items: center;
    width: 5%;
}

.field-group label {
    font-size: 14px;
    color: #932595;
    font-weight: 700;
}

.field-group input {
    border: 0;
    border-bottom: 2px solid #932595;
    background-color: transparent;
    width: 100%;
    color: #932595;
    font-family: "Poppins", sans-serif;
}

.field-group input:focus-visible {
    outline: 0;
}

#search_hotel {
    background-color: transparent !important;
    border: none;
    outline: none;
    padding: 0;
}

#search_hotel img{
    transition: ease-in-out 0.2s;
}

#search_hotel img:hover {
    transform: rotate(360deg);
}